@import url("https://fonts.googleapis.com/css2?family=Duru+Sans&display=swap");

@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Duru Sans", Times, serif;
}

:root {
  --bg-color: #0a1612;
  --second-bg-color: #79acc0;
  --text-color: #fff;
  --main-color: rgb(166, 0, 255);
  --secondary-bg-color: #bce3ea;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

html {
  font-size: 60%;
  overflow: auto;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
}

/* Header */

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 12% 2rem;
  background: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 5;
  line-height: 30px;
  border-bottom: 1px solid var(--main-color);
}

.name {
  font-size: 3rem;
  color: var(--text-color);
  font-weight: 800;
  cursor: pointer;
  transition: 0.3s ease;
}

.name:hover {
  transform: scale(1.1);
}

.name span {
  text-shadow: 0 0 25px rgb(166, 0, 255);
}

.name span {
  color: rgb(166, 0, 255);
}

span {
  color: rgb(166, 0, 255);
}

.navbar a {
  text-transform: uppercase;
  font-size: 1.5rem;
  color: var(--text-color);
  margin-left: 2rem;
  font-weight: 500;
  transition: 0.3 ease;
  border-bottom: 3px solid transparent;
}

.navbar a:hover,
.navbar a.active {
  color: var(--main-color);
  border-bottom: 3px solid var(--main-color);
}

/* Primeira section */

.first-sec {
  min-height: 80vh;
}

.first-sec video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
  position: relative;
  top: 0;
  left: 0;
}

/* h2 title */

.titleh2 {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.titleh2 h2 {
  text-align: center;
  font-size: 3rem;
  text-transform: uppercase;
}

/* Carrosel */

/* Container do carrossel */
.boxx {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  background: #222;
  overflow: hidden;
  position: relative;
  background-position: center;
  background-size: 10%;
}

/* Área principal */
.box {
  position: relative;
  width: 100%;
  max-width: 1600px;
  height: 100%;
  perspective: 1200px;
}

/* Cada item */
.box .item {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20vw;
  height: 30vw;
  max-width: 500px;
  max-height: 750px;
  transform: translate(-50%, -50%);
  background: #fff;
  box-shadow: 0 0 50px rgba(255, 255, 255, 0.5);
  transition: 0.5s;
  transform-style: preserve-3d;
  transform-origin: bottom;
  user-select: none;
  -webkit-box-reflect: below 1px
    linear-gradient(transparent, transparent, #0002);
}

/* Imagens dentro de cada item */
.box .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 6px;
  cursor: pointer;
}

/* Distribuição visual */
.box .item:nth-child(1) {
  transform: translate3d(-60vw, -50%, 0) scale(0.8) rotateY(25deg);
  z-index: 1;
}
.box .item:nth-child(2) {
  transform: translate3d(-40vw, -50%, 0) scale(0.85) rotateY(20deg);
  z-index: 2;
}
.box .item:nth-child(3) {
  transform: translate3d(-20vw, -50%, 0) scale(0.9) rotateY(10deg);
  z-index: 3;
}
.box .item:nth-child(4) {
  transform: translate3d(0, -50%, 0) scale(1) rotateY(0deg);
  z-index: 4;
}
.box .item:nth-child(5) {
  transform: translate3d(20vw, -50%, 0) scale(0.9) rotateY(-10deg);
  z-index: 3;
}
.box .item:nth-child(6) {
  transform: translate3d(40vw, -50%, 0) scale(0.85) rotateY(-20deg);
  z-index: 2;
}
.box .item:nth-child(7) {
  transform: translate3d(60vw, -50%, 0) scale(0.8) rotateY(-25deg);
  z-index: 1;
}

.box .item:nth-child(n + 8) {
  display: none;
}

/* Botões */

.buttons {
  position: absolute;
  bottom: 45px;
  display: flex;
  gap: 20px;
  display: none;
}

.buttons span {
  width: 60px;
  height: 60px;
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  color: white;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  transition: 0.2s ease-in-out;
}

.buttons span:hover {
  transform: scale(1.1);
  background: rgba(255, 255, 255, 0.2);
}

.buttons span::before {
  content: "←";
}

.buttons span:last-child::before {
  content: "→";
}

/* Section Animated */

.animated {
  background-color: var(--bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 150vh;
}

#one {
  height: 400px;
  width: 350px;
}

.container {
  width: 400px;
  height: 350px;
  position: relative;
  transform-style: preserve-3d;
  animation: spinFocus 20s linear infinite;
  perspective: 1200px;
}

.container span {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transform: rotateY(calc(var(--i) * 45deg)) translateZ(600px);
  animation: highlightFocus 8s ease-in-out infinite;
  animation-delay: calc(var(--i) * 1s);
}

.container span:hover {
  transform: scale(1.3) rotateY(calc(var(--i) * 45deg)) translateZ(600px);
  filter: brightness(1.5) contrast(1.2);
  z-index: 100 !important;
}

.container span img {
  border-radius: 10px;
  border: 6px ridge #ccc;
  transition: box-shadow 0.3s, transform 0.3s;
}
.container:hover {
  animation-play-state: paused;
}

@keyframes spinFocus {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

@keyframes highlightFocus {
  0%,
  100% {
    transform: scale(1) rotateY(calc(var(--i) * 45deg)) translateZ(600px);
    filter: brightness(0.6);
    z-index: 1;
  }
  50% {
    transform: scale(1.2) rotateY(calc(var(--i) * 45deg)) translateZ(600px);
    filter: brightness(1.2);
    z-index: 10;
  }
}

/* Frase */

.soc {
  padding: 5rem;
  width: 100%;
  height: auto;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.fra {
  width: 80%;
  border: 1px solid red;
  color: #d4af37;
  border: 1px solid var(--main-color);
  background-color: #1a1a1a;
  border-radius: 10px;
  transition: 0.3s ease-in-out;
}

.fra img {
  width: 100%;
}

.fra:hover {
  transform: scale(1.05);
  box-shadow: 0 0 25px var(--main-color);
}

.fra h2 {
  font-size: 2rem;
  text-transform: uppercase;
  font-style: italic;
  letter-spacing: 1px;
  padding: 1rem;
}

.fra p {
  padding-top: 1.5rem;
  font-size: 1.5rem;
}

/* Section News */

.news {
  padding: 100px 15px;
  padding-top: 2rem;
  background: var(--bg-color);
}

.news h3 {
  text-decoration: underline;
}

.timeline-items {
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  padding-top: 5rem;
  font-style: italic;
}

.timeline-items::before {
  content: "";
  position: absolute;
  width: 5px;
  height: 100%;
  background-color: var(--main-color);
  left: calc(50% - 1px);
}

.timeline-item {
  margin-bottom: 40px;
  width: 100%;
  position: relative;
}

.timeline-item:last-child {
  margin-bottom: 0;
}

.timeline-item:nth-child(odd) {
  padding-right: calc(50% + 30px);
  text-align: right;
}

.timeline-item:nth-child(even) {
  padding-left: calc(50% + 30px);
}

.timeline-dot {
  height: 21px;
  width: 21px;
  background-color: var(--main-color);
  box-shadow: 0 0 25px var(--main-color), 0 0 50px var(--main-color);
  position: absolute;
  left: calc(50% - 8px);
  border-radius: 50%;
  top: 10px;
}

.timeline-date {
  font-size: 20px;
  font-weight: 800;
  color: var(--text-color);
  margin: 6px 0 15px;
}

.timeline-content {
  text-align: left;
}

.timeline-content img {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding-bottom: 2rem;
  border-radius: 20%;
}

/* Primeira obra */

#first {
  color: #F28402;
}


/* Segunda obra */

#second {
  color: #d72630;
}

i #second {
  color: #d72630;
}

/* terceira obra*/

#third {
  color: #564ba9;
}


/* Quarta obra */

#fourtyd {
  color: #fffdee;
}


/* Quinta obra */

#fiftyd {
  color: #E5C79C;
}


/* Sexta Obra */

#sixtyd {
  color: #fda32f;
}


/* Sétima Obra */

#seven {
  color: #A6CD3A;
}


/* Oitava Obra */

#eight {
  color: #a4a3a1;
}


/* Conteúdo */
.timeline-content {
  background-color: var(--bg-color);
  border: 3px solid var(--main-color);
  padding: 30px 50px;
  border-radius: 4rem;
  box-shadow: 0 0 10px var(--main-color);
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.timeline-content:hover {
  transform: scale(1.05);
  box-shadow: 0 0 25px var(--main-color);
}

.timeline-content h3 {
  font-size: 20px;
  color: var(--main-color);
  margin: 0 0 10px;
  font-weight: 500;
}

.timeline-content,
#tex p {
  color: var(--text-color);
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
  padding-top: 1rem;
}

/* Fic-Paradoxo-slider */

.fic {
  width: 100%;
  height: 100px;
  overflow: hidden;
  background-color: #5b62b0;
  position: relative;
}

.slider-track {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.slider {
  display: flex;
  width: fit-content;
  animation: marquee 20s linear infinite;
}

.slider img {
  width: 200px;
  height: auto;
  margin-right: 20px;
}

/* Animação contínua */
@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

/* Section - Ficcão */

.ficcao {
  width: 100%;
  min-height: 100vh;
  background-image: url(/Paradoxo-do-Saber/src/ficcao2.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
}

.img-fic {
  display: flex;
  justify-content: flex-end;
}

.img-fic img {
  width: 45%;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 2;
  transform: translateY(-0%); 
}

/* Section - Sci */

.sci {
  width: 100%;
  min-height: 70vh;
  background-image: url(/Paradoxo-do-Saber/src/fundo2.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
}

.content-sci-title {
  display: flex;
  justify-content: flex-end;
  position: relative;
}

.h2-sci {
  width: 30%;
  height: 150px;
  z-index: 2;
  transform: translateY(-58%);
}

.h2-sci h2 {
  text-align: start;
  font-size: 8rem;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.h2-sci p {
  font-size: 3rem;
}

/* Content-sci / Sobre o que é Sci-Fi */

.sci-content {
  width: 500px;
  height: 500px;
  display: flex;
  margin: 0 auto;
  justify-content: right;
  border: 1px solid var(--main-color);
  color: var(--text-color);
  border-radius: 10px;
  transition: 0.3s ease-in-out;
  z-index: 2;
  transform: translateY(-20%); /* faz a imagem invadir a área de cima */
}

.sci-content:hover {
  box-shadow: 0 0 25px var(--main-color);
}

.sci-content p {
  font-size: 2.2rem;
  padding: 2rem;
  padding-inline: 5rem;
  text-align: center;
}

/* Aplication - section*/

.aplication {
  min-height: 80vh;
  display: flex;
  justify-content: center;
}

.content-ap {
  width: 80%;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.app {
  background-color: #262D76;
  width: 90%;
  height: 450px;
  display: flex;
  position: relative;
  overflow: visible;
}

.img-ap {
  position: absolute;
  bottom: -74px;
  right: -86px;  
  width: 65%;    
  z-index: 3;
}

.img-ap img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

/* Botões e aplication img */

.left-content {
  width: 50%;
  z-index: 2;
  flex-direction: column;
  align-items: center; 
  text-align: center;  
  display: flex;
  justify-content: center;
}

.logo-titulo {
  width: 500px; 
  height: auto;
}

.left-content p {
  width: 500px;
  font-size: 2.5rem;
  text-align: left;
  color: white;
  margin-bottom: 30px;
  line-height: 1.4;
  z-index: 3;
  transform: translateY(-100%)
}

.buttons {
  width: 500px;
  display: flex;
  justify-content: left;
  align-items: left;
  gap: 20px;
}

.btn {
  padding: 20px 40px;
  background-color: white;
  color: black;
  border: none;
  border-radius: 30px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn:hover {
  background-color: #dcdcdc;
  cursor: pointer;
  transform: scale(1.1);
}

.btn.outline {
  background-color: transparent;
  color: white;
  border: 2px solid white;
}

.btn.outline:hover {
  background-color: white;
  color: black;
}



/* About */

.about {
  min-height: 80vh;
  padding-top: 5rem;
}

.about-content {
  max-width: 800px;
  height: 500px;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--main-color);
  color: var(--text-color);
  border-radius: 10px;
  transition: 0.3s ease-in-out;
}

.about-content:hover {
  transform: scale(1.05);
  box-shadow: 0 0 25px var(--main-color);
}

.about-content p {
  text-align: center;
  font-size: 2rem;
  padding-inline: 3rem;
  letter-spacing: 1px;
  font-style: italic;
}

/* Footer */

.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  padding: 40px 0;
  background-color: var(--bg-color);
  text-transform: uppercase;
}

.footer p {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 500;
  padding-bottom: 2rem;
}

.footer .social {
  text-align: center;
  padding-bottom: 25px;
  color: var(--main-color);
}

.footer .social a {
  font-size: 25px;
  color: var(--main-color);
  border: 2px solid var(--main-color);
  width: 42px;
  height: 42px;
  line-height: 42px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  margin: 0 10px;
  transition: 0.3s ease-in-out;
}

.footer .social a:hover {
  transform: scale(1.2) translateY(-10px);
  background-color: var(--main-color);
  color: black;
  box-shadow: 0 0 25px var(--main-color);
}

.footer ul {
  margin-top: 0;
  padding: 0;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
  text-align: center;
}

.footer ul li a {
  color: var(--text-color);
  border-bottom: 3px solid transparent;
  transition: 0.3s ease-in-out;
}

.footer ul li a:hover {
  border-bottom: 3px solid var(--main-color);
}

.footer ul li {
  display: inline-block;
  padding: 0 15px;
}

.footer .copyright {
  margin-top: 50px;
  text-align: center;
  font-size: 16px;
  color: var(--text-color);
}

/*  */

/* Animated */

.animated {
  min-height: 90vh;
  padding: 3rem 0;
  overflow: hidden; /* evita que o conteúdo ultrapasse a seção */
}

.container {
  width: 500px;
  height: 380px;
  animation: spinFocus 30s linear infinite;
  perspective: 1200px;
}

.container span {
  transform: rotateY(calc(var(--i) * 45deg)) translateZ(500px);
}

.container span:hover {
  transform: scale(1.15) rotateY(calc(var(--i) * 45deg)) translateZ(500px);
  filter: brightness(1.3) contrast(1.1);
}

#one {
  width: 320px;
  height: 400px;
}

.container span img {
  border: 4px ridge rgb(166, 0, 255);
}

@keyframes highlightFocus {
  0%,
  100% {
    transform: scale(1) rotateY(calc(var(--i) * 45deg)) translateZ(500px);
  }
  50% {
    transform: scale(1.1) rotateY(calc(var(--i) * 45deg)) translateZ(500px);
  }
}

/* Scrollbar */

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
}

::-webkit-scrollbar-track {
  background-color: var(--bg-color);
  width: 50px;
}

/* Esconde todo o conteúdo para telas menores que 1024px */

@media (max-width: 1023px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #111;
    color: white;
    font-size: 2rem;
    text-align: center;
    padding: 2rem;
  }

  body > *:not(script):not(style) {
    display: none !important;
  }

  body::before {
    content: "Este site está disponível apenas em telas de computador.";
  }
}

/* 1023px */

@media (min-width: 1023px) and (max-width: 1120px) {
  html {
    font-size: 50%;
  }

  .soc {
    width: 700px;
    height: 300px;
  }

  .header {
    width: 100%;
    padding: 2rem 12% 2rem;
  }

  .boxx {
    height: 80vh;
  }

  .ficcao {
    min-height: 75vh;
  }

  .img-fic img {
    width: 50%;
  }

  .h2-sci {
    width: 32%;
    transform: translateY(-50%);
  }

  .sci-content {
    width: 400px;
    height: 400px;
    transform: translateY(-28%);
  }

  .about-content {
    width: 600px;
    height: 400px;
  }

  .img-ap {
    bottom: -16.5%;  
    right: -8.5%;    
    width: 70%;    
  }

  .app {
    height: 350px;
  }

  .left-content {
  width: 50%;
  }

  .logo-titulo {
    width: 300px; 
  }

  .left-content p {
    width: 300px;
    font-size: 2.5rem;
    transform: translateY(-80%);
  }

  .buttons {
    width: 300px;
    gap: 15px;
  }

  .btn {
    padding: 16px 32px;
    font-size: 1.5rem;
  }

}
/* 1120px */

@media (min-width: 1120px) and (max-width: 1200px) {
  .first-sec {
    min-height: 98vh;
  }

  .soc {
    width: 700px;
    height: 300px;
  }

  .animated {
    min-height: 110vh;
  }

  .about-project h3 {
    font-size: 2rem;
  }

  .ficcao {
    min-height: 80vh;
  }

  .img-fic img {
    width: 50%;
  }

  .h2-sci {
    width: 34%;
    transform: translateY(-58%);
  }

  .sci-content {
    width: 500px;
    height: 450px;
    transform: translateY(-20%);
  }

  .about-content {
    width: 700px;
    height: 500px;
  }

  .img-ap {
    bottom: -16%;  
    right: -9%;    
    width: 75%;  
  }

  .app {
    height: 400px;
  }

  .left-content {
    width: 50%;
  }

  .logo-titulo {
    width: 300px; 
  }

  .left-content p {
    width: 300px;
    font-size: 2rem;
    transform: translateY(-60%);
  }

  .buttons {
    width: 300px;
    gap: 15px;
  }

  .btn {
    padding: 16px 32px;
    font-size: 1.2rem;
  }
}

/* 1200px */

@media (min-width: 1200px) and (max-width: 1400px) {
  html {
    font-size: 60%;
  }

  .soc {
    width: 800px;
    height: 300px;
  }

  .first-sec {
    min-height: 100vh;
  }

  .animated {
    min-height: 120vh;
  }

  .ficcao {
    min-height: 85vh;
  }

  .img-fic img {
    width: 48%;
  }

  .h2-sci {
    width: 32%;
    transform: translateY(-58%);
  }

  .sci-content {
    height: 440px;
  }

  .about-content {
    height: 450px;
  }

  .aplication {
    min-height: 80vh;
  }

  .content-ap {
    height: 600px;
  }

  .app {
    height: 500px;
  }

  .img-ap {
    bottom: -14.5%;  
    right: -7.5%;   
    width: 65%;    
  }

  .app {
    height: 450px;
  }

  .left-content {
    width: 50%;
  }

  .logo-titulo {
    width: 400px; 
  }

  .left-content p {
    width: 400px;
    font-size: 2.5rem;
    transform: translateY(-60%);
  }

  .buttons {
    width: 400px;
    gap: 15px;
  }

  .btn {
    padding: 16px 32px;
    font-size: 1.5rem;
  }


}

/* 1400px */

@media (min-width: 1400px) and (max-width: 1600px) {
  html {
    font-size: 65%;
  }
  .first-sec {
    background-size: 100%;
  }

  .ficcao {
    min-height: 90vh;
  }

  .img-ap {
    bottom: -16%;  
    right: -7.5%;    
    width: 65%;   
  }

  .app {
    height: 450px;
  }

  .left-content {
    width: 50%;
  }

  .logo-titulo {
    width: 400px; 
  }

  .left-content p {
    width: 400px;
    font-size: 2rem;
    transform: translateY(-80%);
  }

  .buttons {
    width: 400px;
    gap: 15px;
  }

  .btn {
    padding: 18px 36px;
    font-size: 1.5rem;
  }

  .img-fic img {
    width: 48%;
  }

  .h2-sci {
    width: 31%;
    transform: translateY(-58%);
  }

  .sci-content {
    transform: translateY(-18%);
  }

  .soc {
    width: 800px;
    height: 300px;
  }

  .animated {
    min-height: 130vh;
  }
}

/* 1600px */

@media (min-width: 1600px) and (max-width: 1700px) {
  html {
    font-size: 70%;
  }

  .box .item {
    width: 22vw;
    height: 33vw;
    max-width: 550px;
    max-height: 825px;
  }

  .animated {
    min-height: 130vh;
  }
  
  .ficcao {
    min-height: 95vh;
  }

  .img-fic img {
    width: 50%;
  }

  .h2-sci {
    width: 32%;
    transform: translateY(-65%);
  }

  .sci-content {
    width: 600px;
    height: 500px;
    transform: translateY(-18%);
  }

  .about-content {
    width: 800px;
    height: 550px;
  }

  .fra {
    width: 50%;
  }

  .aplication {
    min-height: 60vh;
  }

  .img-ap {
    bottom: -17.5%;  
    right: -7.5%;    
    width: 65%;    
  }

  .app {
    height: 450px;
  }

  .left-content {
    width: 50%;
  }

  .logo-titulo {
    width: 500px; 
  }

  .left-content p {
    width: 500px;
    font-size: 2rem;
    transform: translateY(-90%);
  }

  .buttons {
    width: 500px;
    gap: 15px;
  }

  .btn {
    padding: 18px 36px;
    font-size: 1.6rem;
  }

  .news h3,
  #first,
  .timeline-date {
    font-size: 2.5rem;
  }

  .timeline-content h3 {
    line-height: 3rem;
  }

  .about-project h3 {
    font-size: 2rem;
  }

  .news p {
    font-size: 1.8rem;
    line-height: 2.5rem;
  }

  #tex p {
    font-size: 1.8rem;
    line-height: 2.5rem;
  }

  .footer a,
  h2 {
    font-size: 1.8rem;
  }

  .copyright {
    font-size: 4rem;
  }
}

/* 1700px */

@media (min-width: 1700px) and (max-width: 1790px) {
  html {
    font-size: 72%;
  }

  .soc {
    max-width: 1000px;
    height: 400px;
  }

  .fra {
    width: 80%;
  }

  .animated {
    min-height: 130vh;
  }

  .img-fic img {
    width: 48%;
  }

  .h2-sci {
    width: 31%;
    transform: translateY(-65%);
  }

  .sci-content {
    width: 600px;
    height: 500px;
    transform: translateY(-18%);
  }

  .about-content {
    width: 800px;
    height: 550px;
  }

  .aplication {
    min-height: 60vh;
  }

  .img-ap {
    bottom: -17.5%;  
    right: -8%;   
    width: 65%;    
  }

  .content-ap {
    height: 700px;
  }

  .app {
    height: 500px;
  }

  .left-content {
    width: 50%;
  }

  .logo-titulo {
    width: 550px; 
  }

  .left-content p {
    width: 550px;
    font-size: 2rem;
    transform: translateY(-100%);
  }

  .buttons {
    width: 550px;
    gap: 15px;
  }

  .btn {
    padding: 18px 36px;
    font-size: 1.6rem;
  }

  .box .item {
    width: 24vw;
    height: 36vw;
    max-width: 600px;
    max-height: 900px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .timeline-items {
    max-width: 1400px;
  }

  .footer .social a {
    width: 62px;
    height: 62px;
    line-height: 62px;
    font-size: 35px;
  }
}

/* 1800px */

@media (min-width: 1790px) and (max-width: 2000px) {
  html {
    font-size: 72%;
  }

  .box .item {
    width: 25vw;
    height: 37.5vw;
    max-width: 650px;
    max-height: 975px;
  }

  .img-fic img {
    width: 55%;
  }

  .h2-sci {
    width: 33%;
    transform: translateY(-65%);
  }

  .sci-content {
    width: 600px;
    height: 500px;
    transform: translateY(-10%);
  }

  .about-content {
    width: 800px;
    height: 550px;
  }

  .aplication {
    min-height: 70vh;
  }

  .img-ap {
    bottom: -15.5%;  
    right: -7.5%;    
    width: 62%;   
  }

  .content-ap {
    height: 700px;
  }

  .timeline-items {
    max-width: 1500px;
  }

  .fra {
    width: 50%;
  }

  .app {
    height: 550px;
  }

  .left-content {
    width: 50%;
  }

  .logo-titulo {
    width: 600px; 
  }

  .left-content p {
    width: 600px;
    font-size: 2.5rem;
    transform: translateY(-100%);
  }

  .buttons {
    width: 600px;
    gap: 15px;
  }

  .btn {
    padding: 20px 40px;
    font-size: 1.8rem;
  }

  .news p {
    font-size: 2rem;
    letter-spacing: 1px;
  }

  .news h3, .timeline-date {
  font-size: 2.5rem;
  line-height: 1.4; 
  }
}

/* 2000px */

@media (min-width: 2000px) {
  html {
    font-size: 80%;
  }

  .header {
    height: 8rem;
  }

  .first-sec {
    min-height: 100vh;
  }

  .animated {
    min-height: 120vh;
  }

  .h2-sci {
    width: 29%;
    transform: translateY(-70%);
  }

  .sci-content {
    width: 700px;
    height: 550px;
    transform: translateY(-10%);
  }

  .about-content {
    width: 1200px;
    height: 700px;
  }

  .aplication {
    min-height: 80vh;
  }

  .fra {
    width: 60%;
  }

  .img-ap {
    bottom: -15.5%;  
    right: -7.5%;    
    width: 62%;    
  }

  .content-ap {
    height: 800px;
  }

  .app {
    height: 600px;
  }

  .left-content {
    width: 50%;
  }

  .logo-titulo {
    width: 650px; 
  }

  .left-content p {
    width: 650px;
    font-size: 2.5rem;
    transform: translateY(-100%);
  }

  .buttons {
    width: 650px;
    gap: 15px;
  }

  .btn {
    padding: 22px 44px;
    font-size: 2rem;
  }

  .timeline-items {
    max-width: 1500px;
  }

  .news p {
    font-size: 2rem;
    letter-spacing: 1px;
  }

  .news h3, .timeline-date {
  font-size: 2.5rem;
  line-height: 1.4; 
  }

}
